<!doctype html>
<html class="no-js" lang="en"> 
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Kids Javascript</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <link type="text/css" href="lib/jquery-ui.css" rel="Stylesheet" />  
    <link rel="stylesheet" href="kjs.css">

    <script src="lib/jquery-1.6.1.min.js"></script>
    <script src="lib/modernizr-1.7.min.js"></script>
    <script src="lib/json2.js"></script>
    <script src="lib/raphael.js"></script>
    <script src="lib/underscore.min.js"></script>
    <script src="lib/backbone.js"></script>
    <script src="lib/backbone-localstorage.min.js"></script>
    <script src="lib/ace/src/ace.js"                 type="text/javascript" charset="utf-8"></script>
    <script src="lib/ace/src/theme-twilight.js"      type="text/javascript" charset="utf-8"></script>
    <script src="lib/ace/src/mode-javascript.js"     type="text/javascript" charset="utf-8"></script>
    <script src="lib/jquery-ui-1.8.12.custom.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="lib/ace/src/theme-twilight.js"      type="text/javascript" charset="utf-8"></script>
    <script src="lib/ace/src/mode-javascript.js"     type="text/javascript" charset="utf-8"></script>
    <script src="kjs.js"                             type="text/javascript" charset="utf-8"></script>
</head>

<body>

    <div id="container">
        <header>
            <h1>Kids Javascript</h1>
            <div id="lesson-controls">
                  <a id="prev-lesson" href="#" class="button">◀</a>
                  <a id="browse"      href="#" class="button">Lessons ☰</a>
                  <a id="next-lesson" href="#" class="button">▶</a>
  
                  <!-- lesson browse drawer -->
                  <div id="lesson-browse-dialog" style="display: none"></div>
            </div>
        </header>
        <div id="main" role="main">
            <div id="editor-container">
                <div id="editor-header">
                  <div id="file-controls">
                        <a id="open-state" href="#" class="button">Open</a> 
                        <a id="save-state" href="#" class="button" style="display: inline-block;">Save</a>
                  </div>

                  <div class="title">Editor</div>
                  <a id="run" href="#run" class="button">Run ☇</a>
                </div>
                <pre id="editor"></pre>
            </div>
            <div id="output-container">
                <!-- Gets filled with output-tmpl -->
            </div>
             
            <div style="clear: both"></div>
        </div>
    </div> <!-- eo #container -->
    <script type="text/template" id="open-state-dialog">
    <div id="open-state-dialog-wrapper">
        <label for="state-selector">Saved Files</label>
        <ul id="state-selector" class="selector">
            <% _.each(states, function (state) { %>
                <li data-id="<%= state.get('id') %>"><%= state.get('name') %></li>
            <% }); %>
        </ul>
    </div>
    </script>
    <script type="text/template" id="lesson-browse-dialog-tmpl">
        <ol class="lesson-browser">
            <% lessons.each(function(lesson, i) { %>
                <li>
                    <a href="#<%= kjs.workbench.urls.lesson(lesson.get('id')) %>">
                        <%= lesson.get('name') %>
                    </a>
                </li>
            <% }); %>
        </ol>
    </script>
    <script type="text/template" id="console-output-tmpl">
      <div class="console">
        <div id="output-header">
          <div class="title">Output</div>
        </div>

        <pre id="console"></pre>
      </div>
    </script>
    <script type="text/template" id="raphael-output-tmpl">
      <div class="raphael">
        <div id="output-header">
          <div class="title">Output</div>
        </div>

        <div id="paper"></<div>
        <pre id="console"></pre>
      </div>
    </script>
</body>
</html>
