html {
    height: 100%
}

body {
    height: 100%;
    margin: 0px;
    overflow: hidden;
    background: repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAG0lEQVQIW2OMq7zlw4ADMIIkJ5WLbcYmP+gkAT01GN/P7bHhAAAAAElFTkSuQmCC) ;
    color: #444;
}

pre, pre * {
    font-weight: bold;
}

a {
    color: #444;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #666;
}

header {
  font-family: Helvetica, Arial, sans-serif;
  text-align: left;
  font-variant: small-caps;
  padding: 7px 0px;
  margin:  0px 0px 0px 9px;
  height:  40px;
}

h1 {
  text-align: center;
  height: 25px;
  font-size: 18px;
  padding: 6px 0px 0px 0px;
  margin:  0px;
  background-color: rgba(255,255,255,0.79);
  border: 1px solid #aaa;
  width: 200px;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgba(200,200,200,0.79);
}

#container {
  position: relative;
  width: 980px;
  margin: 0px auto;
}

#main {
  position: relative;
}

#lesson-controls {
    height: 26px;
    position: absolute;
    z-index:  9999;
    right: 0px;
    top: 7px;
    text-align: center;
    font-size: 10px;
    background-color: rgba(255,255,255,0.79);
    padding: 4px;
    border-radius: 5px;
    border: 1px solid silver;
    box-shadow: 4px 4px 4px rgba(200,200,200,0.79);
}

#lesson-browse-dialog {
    font-variant: normal;
    background-color: rgba(255,255,255,0.9);
    text-align:       left;
    font-size:        12px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 4px 4px 4px rgba(200,200,200,0.79);
}

#lesson-browse-dialog ol {
    margin: 5px 10px 10px 10px;
    padding: 5px 20px;
}

#lesson-browse-dialog li {
    padding: 2px;
    border-bottom: 1px solid-silver;
    margin-bottom: 1px;
}

#browse span {
    width: 240px;
    font-weight: bold;
    font-size: 12px;
}

#editor-container, #output-container {
    margin: 0px 10px 0px 10px;
    height: 100%;
    padding: 0px 10px 0px 10px;
    background-color: rgba(255, 255, 255, 0.78);
    box-shadow: 4px 4px 4px rgba(200,200,200,0.79);
    min-height: 400px;
}

#editor-container {
    position: relative;
    width: 550px;
    min-width 200px;
    height: 90%;
    border: 1px solid silver;
    border-radius: 5px;
    padding: 0px 10px 20px 10px;
}

#output-container {
    font-family: Inconsolata, monospace;
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 578px;
    width: 370px;
    min-width: 200px;
    border-radius: 5px;
    border: 1px solid silver;
}

#editor-header, #output-header {
    top: 0px;
    margin: 0px;
    padding: 5px;
    height: 25px;
    text-align: center;
    z-index: 999999;
    font-size: 10px;
    font-weight: bold;
    border-bottom: 1px solid silver;
}

#editor-header .title, #output-header .title {
    font-size: 16px;
    font-family: Helvetica, Arial, Sans-serif;
    padding-top: 3px;
    color: #666;
    font-weight: bold;
}

#file-controls {
    position: absolute;
    left: 10px;
    top:  5px;
}

ul.dropdown {
    float:left;
    text-align: left;
    display: inline;
    list-style-type: none;
    margin: 0;
}

ul.dropdown li {
    margin: 0;
}

ul.dropdown .fold {
    display: none;
}

#run {
    position: absolute;
    right: 10px;
    top: 5px;
}

#editor { 
    margin: 0px 0px 10px 7px;
    position: absolute;
    top: 45px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 550px;
}
