html {
    height: 100%
}

body {
    height: 100%;
    margin: 0px;
    overflow: hidden;
}

header {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  font-variant: small-caps;
  padding: 0px 0px;
  margin:  0px 0px;

}

h1 {
  font-size: 18px;
  padding: 4px;
  margin:  0px;
}


#main {
}

#editor { 
    margin: 0;
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
}

#editor-controls {
    top: 10px;
    text-align: right;
    z-index: 999999;
    font-size: 12px;
    background-color: #fafafa;
}

#editor-container {
    position: relative;
    width: 60%;
    min-height: 700px;
    height: 100%;
    float: left;
}

#output {
    margin-top:30px;
    float: left;
    width: 40%;
    min-height: 10px;
    min-height: 700px;
    height: 100%;
    background-color: #dedede;
}
