@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: normal;
    src: local('Inconsolata'), url('inconsolata.woff');
}

html {
    height: 100%
}

body {
    height: 100%;
    margin: 0px;
    overflow: hidden;
    background: repeat url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAYAAADEUlfTAAAAG0lEQVQIW2OMq7zlw4ADMIIkJ5WLbcYmP+gkAT01GN/P7bHhAAAAAElFTkSuQmCC) ;
    color: #444;
}

pre, pre * {
    font-weight: bold;
}

header {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  font-variant: small-caps;
  padding: 7px 0px;
  margin:  0px 0px;
  height:  40px;
}

h1 {
  height: 25px;
  font-size: 18px;
  padding: 6px 0px 0px 0px;
  margin:  0px;
  background-color: rgba(255,255,255,0.79);
  border: 1px solid #aaa;
  width: 200px;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgba(200,200,200,0.79);
}

#container {
  position: relative;
  width: 980px;
  margin: 0px auto;
}

#main {
  position: relative;
}

#lesson-controls {
    height: 25px;
    position: absolute;
    right: 0px;
    top: 7px;
    text-align: center;
    font-size: 10px;
    background-color: rgba(255,255,255,0.79);
    padding: 4px;
    border-radius: 5px;
    border: 1px solid silver;
    box-shadow: 4px 4px 4px rgba(200,200,200,0.79);
}

#browse span {
    width: 240px;
    font-weight: bold;
    font-size: 12px;
}

#editor-container, #output-container {
    margin: 0px 10px 0px 10px;
    padding: 0px 10px;
    background-color: rgba(255, 255, 255, 0.78);
    box-shadow: 4px 4px 4px rgba(200,200,200,0.79);
}
#editor-container {
    position: relative;
    width: 550px;
    display: inline-block;
    min-width 200px;
    min-height: 300px;
    height: 100%;
    border: 1px solid silver;
    border-radius: 5px;
}

#output-container {
    font-family: monospace;
    position: absolute;;
    top: 0px;
    left: 580px;
    width: 370px;
    min-width: 200px;
    min-height: 300px;
    height: 100%;
    border-radius: 5px;
    border: 1px solid silver;
}

#editor-header, #output-header {
    top: 0px;
    margin: 0px;
    padding: 5px;
    height: 25px;
    text-align: center;
    z-index: 999999;
    font-size: 10px;
    font-weight: bold;
    border-bottom: 1px solid silver;
}

#editor-header .title, #output-header .title {
    font-size: 16px;
    font-family: Helvetica, Arial, Sans-serif;
    padding-top: 3px;
    color: #666;
}

#run {
  font-weight: bold;
  position: absolute;
  right: 10px;
  top: 5px;
}

#editor { 
    margin: 0px 0px 0px 7px;
    position: absolute;
    top: 45px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 550px;
}
